name: Build and Deploy
on:
  workflow_dispatch: {}
  push:
    branches:
      - 'main'

env:
  MYSQL_USER: admin
  MYSQL_PASSWORD: admin123
  MYSQL_DB: mysql_user_auth_test
  FLASK_ENV: testing

jobs:
  test:
    runs-on: ubuntu-22.04
    services:
      mysql:
        image: mysql:8.0.36
        env:
          MYSQL_DATABASE: mysql_user_auth_test
          MYSQL_ROOT_PASSWORD: root
          MYSQL_USER: admin
          MYSQL_PASSWORD: admin123
        ports:
          - 33306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Start mysql server
        run: |
          sudo /etc/init.d/mysql start
          mysql -h localhost --port 33306 -u root -proot -e 'CREATE USER admin@localhost IDENTIFIED BY "admin123";' 
          mysql -h localhost --port 33306 -u root -proot -e 'GRANT ALL PRIVILEGES ON *.* TO admin@localhost WITH GRANT OPTION;'
          mysql -h localhost --port 33306 -u admin -padmin123 -e 'CREATE DATABASE IF NOT EXISTS mysql_user_auth_test;'
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: |
          coverage run -m unittest discover
      - name: Generate coverage reports
        run: |
          coverage report -m
      - name: Publish coverage report to coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
